/* --------------------------------------------------------------------------------------------------------------------------------------------------

    AdminSquare (www.adminsquare.com)

    File:       custom.css

-------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Place for your own CSS code */



.REQUIRED {
	border-color: #FAA;
}

#loading {
	float: right;
	font-size: 10px;
	margin-right: 10px;
	display:none;
}

.SELECTED {
	background-color: #FB3;
}
